@import url('./reset.css');

:root{
        --success: #46bd55;
        --brown: #333;
        --main: #656565;
        --header: #212121;
        --light-gray: #f7f7f7;
        --footer: #191919;
}
body{
        font-family: Arial, Helvetica, sans-serif;
        color: var(--main);
}
.container{
        padding: 0 15vw;
        @media (max-width: 1024px){
                padding: 0 5vw;
        }
}
li{
        list-style: none;
}
a{
        color: var(--header);
        text-decoration: none;
}
p{
        font-size: 13px;
        line-height: 20px;
}
.page-section{
        padding-top: 5vh;
        padding-bottom: 5vh;
}
@mixin center{
        display: flex;
        justify-content: center;
        align-items: center;
}
@mixin  space-between {
        display: flex;
        justify-content: space-between;
}
.btn{
        @include center();
        width: 120px;
        padding: 15px 0;
        color: #fff;
        font-size: 15px;
}
.btn-success{
        background-color: var(--success);
        &:hover, &:active{
                background-color: #399746;
        }
}
// HEADERS

h4{
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-weight: 600;
        color: var(--success);
        @media (max-width: 568px) and (orientation: landscape){
                margin-top: 5vh;
                margin-bottom: 5vh; 
        }
}
// *** PAGE HEADER ***
.page-header{
        position: relative;
        height: 15vh;
        background-image: url('../assets/img/slides/1.jpg');
        background-position: center 80%;
        background-size: cover;
        background-repeat: no-repeat;
        @include center();
        .page-header__fade{
                width: 100%;
                height: 100%;
                background-color: #000;
                position: absolute;
                opacity: .5;
        }
        h2{
                position: relative;
                z-index: 2;
                color: var(--success);
                font-size: 35px;
                text-transform: uppercase;
                font-weight: 700;
        }
}
// *** END PAGE HEADER ***

// *** SECTION HEADER ***
.section-header{
        h2{
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 30px;
                color: var(--header);
                span{
                        color: var(--success);
                }
        }
        p{
            text-align: center;    
            padding: 2vh 17vw;
            @media (max-width: 568px){
                    padding: 2vh 5vw;
            }
        }
        margin-bottom: 3vh;
}
.section-header--left{
        h2{
                text-align: left;
        }
        p{
                text-align: left;
                padding: 2vh 0vw;
        }
}

// *** END SECTION HEADER ***

// *** TOP BAR ***

.topbar{
        position: relative;
        z-index: 5;
        background-color: var(--success);
        @include space-between();
        padding-top: 7px;
        padding-bottom: 7px;
        color: #fff;
        font-size: 13px;
        @media (max-width: 568px){
                flex-direction: column;
                @include center();
                .topbar__phone{
                        margin-top: 1vh;
                }
        }
}

// *** END of TOP BAR ***

// *** MENU ***
@mixin menu-link{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        margin-left: 2vw;
}
.menu{
        position: relative;
        z-index: 5;
        @include space-between();
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
        align-items: center;
        background-color: #fff;
        .menu__logo{
                font-size: 35px;
                font-weight: bold;
                font-family: 'Fredoka One', cursive;
                color: #000;
                span{
                        color: var(--success);
                }
        }
        nav{
                display: flex;
                .menu__link{
                        @include menu-link();
                        transition-duration: .5s;
                        &:hover{
                                color: var(--success);
                        }
                }
                .menu__link--green{
                        color: var(--success);
                }
                @media (max-width: 768px){
                        display: none;
                }
        }
        .menu__icon{
                color: var(--success);
                font-size: 30px;
                display: none;
                @media (max-width: 768px){
                        display: inline;
                }
        }
}

// *** END of MENU ***

// *** MOBILE MENU ***

.mobile-menu{
        background-color: var(--success);
        padding: 40px 0 20px;
        transition-property: margin;
        transition-duration: 1.5s;
        display: none;
        .mobile-menu__link{
                @include menu-link();
                margin-bottom: 20px;
                margin-left: 15px;
        }
        .mobile-menu__link--white{
                color: #fff;
        }
        @media (max-width: 768px){
                display: block;
        }
}
.mobile-menu--opened{
        margin-top: 0px;
}
.mobile-menu--closed{
        margin-top: -264px;
}

// *** END MOBILE MENU ***


// **** MAIN PAGE ****

main{
        // *** HERO ***
        .hero{
               height: 60vh;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               background-blend-mode: difference;
               animation: fade 4s  infinite;
               h1{
                       text-align: center;
                       font-size: 45px;
                       color: #fff;
                       padding-top: 35vh;
                       text-shadow: -2px 0 5px #000;
                       font-weight: bold;
               }
               @keyframes fade {
                        0%,100%{opacity: 0.5};
                        5%,95%{opacity: 1}
                }
        }
        // *** END HERO ***

        // *** FEATURES ***

        .features{
                @include space-between();
                .features__feature{
                        height: 300px;
                        width: 24%;
                        background-color: var(--light-gray);
                        border: 2px solid var(--light-gray);
                        box-sizing: border-box;
                        transform: translateY(-20%);
                        .feature__header{
                                height: 30%;
                                @include center();
                                color: var(--success);
                                font-size: 35px;
                                background-color: #fff;
                                border-bottom: 2px solid var(--success);
                        }
                        .feature__main{
                                height: 70%;
                                @include center();
                                flex-direction: column;
                                h3{
                                        color: #000;
                                        font-weight: 700;
                                        margin-bottom: 2vh;
                                }
                                p{
                                        text-align: center;
                                        padding: 0 1vw;
                                }
                        }
                        @media (max-width: 1024px){
                                width: 48%;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
                @media (max-width: 1024px){
                        flex-wrap: wrap;
                }
        }

        // *** END FEATURES ***

        // *** TRENDING SECTION ***

        .trending{
                @include space-between();
                .trending__card{
                        width: 23%;
                        img{
                                width: 100%;
                        }
                        p{
                                padding-right: 2vw;
                        }
                        @media (max-width: 992px){
                                width: 45%;
                                margin-top: 5vh;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
                @media (max-width: 992px){
                        flex-wrap: wrap;
                }
        }

        // *** END TRENDING SECTION ***

        // *** RECENT PROPERTIES
        .recent-properties{
                background-color: var(--light-gray);
                .recent{
                        display: flex;
                        flex-wrap: wrap;
                        @include space-between();
                        .recent__card{
                                width: 33%;
                                margin-bottom: 5vh;
                                img{
                                        width: 95%;
                                }
                                @media (max-width: 992px){
                                        width: 48%;
                                }
                                @media (max-width: 568px){
                                        width: 100%;
                                }
                        }
                }
        }

        // *** END RECENT PROPERTIES ***

        // *** ABOUT COMPANY ***

        .organization{
                @include space-between();
                aside{
                        width: 49%;
                        h4{
                                font-size: 22px;
                                color: var(--header);
                                font-weight: 400;
                                margin-bottom: 5vh;
                                display: none;
                        }
                        ul{
                                margin-top: 4vh;
                                margin-bottom: 3vh;
                                p{
                                        padding-right: 5vw;
                                }
                                li{
                                        display: flex;
                                        align-items: center;
                                        margin-top: 2vh;
                                        font-size: 13px;
                                        i{
                                                margin-right: 10px;
                                                font-size: 20px;
                                                color: var(--success);
                                        }
                                }
                        }
                        @media (max-width: 768px){
                                width: 80%;
                                align-self: center;
                                margin-top: 5vh;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
                figure{
                        width: 49%;
                        img{
                                width: 100%;
                        }
                        @media (max-width: 768px){
                                width: 80%;
                                align-self: center;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
                @media (max-width: 768px){
                        flex-direction: column-reverse;
                }
        }
        .organization__about-section{
                aside{
                        h4{
                                display: block;
                        }
                }
                .btn{
                        display: none;
                }
        }

}

// **** END MAIN PAGE ****





// **** FOOTER *****

footer{
        background-color: var(--footer);
        .footer__info{
                @include space-between();
                .footer__contact{
                        div{
                                font-size: 14px;
                                line-height: 18px;
                        }
                }
                >div{
                        width: 24%;
                        @media (max-width: 1024px){
                                width: 48%;
                        }
                        @media (max-width: 568px){
                                width: 80%;
                        }
                }
                span{
                        color: var(--main);
                        display: block;
                        margin-bottom: 1vh;
                        width: 100%;
                        font-size: 13px;
                        line-height: 18px;
                        &:hover{
                                color: var(--success);
                        }
                }
                @media (max-width: 1024px){
                        flex-wrap: wrap;
                }
        }
        .footer__bar{
                @include space-between();
                align-items: center;
                margin-top: 2vh;
                .footer__social{
                        display: flex;
                        a{
                                @include center();
                                color: var(--main);
                                width: 30px;
                                height: 30px;
                                border: 1px solid var(--brown);
                                margin-left: 10px;
                                &:hover{
                                        color: var(--success);
                                }
                        }
                        @media (max-width: 568px){
                                margin-bottom: 2vh;
                        }
                }
                @media (max-width: 568px){
                        flex-direction: column-reverse;
                }
        }
}

// **** END OF MAIN PAGE****

// **** ABOUT PAGE ****

main{
        // *** ABOUT COMPANY ***

        .about-company__section{
                @include space-between();
                align-items: center;
                figure{
                        width: 45%;
                        img{
                                width: 100%;
                        }
                }       
                padding-top: 10vh; 
                @include space-between();
                aside{
                        width: 45%;
                }
                @media (max-width: 768px){
                        flex-direction: column;
                        >figure, >aside{
                                width: 80%;
                        }
                        >aside{
                                margin-top: 5vh;
                        }
                }
                @media (max-width: 568px){
                        >figure, >aside{
                                width: 100%;
                        }
                }
        
        }
        // *** END ABOUT COMPANY ***

        // *** WHY CHOOSE US? ***

        .about-us{
                @include space-between();
                >article{
                        width: 32%;
                        h3{
                                font-size: 25px;
                                color: var(--header);
                                margin-bottom: 3vh;
                        }
                }
                .our-solution{
                        .solution__drop-down{
                                overflow: hidden;
                                box-sizing: border-box;
                                .drop-down__heading{
                                        box-sizing: border-box;
                                        display: flex;
                                        align-items: center;
                                        padding-left: 2vw;
                                        height: 50px;
                                        width: 100%;
                                        margin-bottom: 5px;
                                        border: 1px solid rgb(223, 223, 223);
                                        font-size: 13px;
                                        font-weight: 600;
                                        margin-bottom: 3px;
                                        cursor: pointer;
                                        i{
                                                margin-right: 1vw;
                                                font-size: 12px;
                                        }
                                }
                                p{
                                        margin-top: 0;
                                        border: 1px solid rgb(223, 223, 223);
                                        box-sizing: border-box;
                                        overflow: hidden;
                                        padding: 10px 15px;
                                        transition-duration: 1s;
                                        height: auto;
                                        max-height: 300px;
                                        transition: padding max-height 0.3s ease-out;
                                }
                                .p-closed{
                                        padding: 0 15px;
                                        max-height: 0;
                                        border-color: transparent;
                                }
                        }
                }
                .our-expertise{
                        p{
                                margin-bottom: 20px;
                        }
                        progress {
                                display: block; /* default: inline-block */
                                width: 100%;
                                height: 6px;
                                margin: 10px 0;
                                background: var(--light-gray);
                                border-radius: 2px;
                                box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
                        }
                        progress::-moz-progress-bar {
                                border-radius: 2px;
                                
                        }
                        progress::-webkit-progress-bar {
                                background: transparent;
                        }  
                        progress::-webkit-progress-value {  
                              border-radius: 2px;
                        } 
                        .web__progress::-webkit-progress-value{
                                background: rgb(255, 85, 85);
                        }
                        .web__progress::-moz-progress-bar{
                                background: rgb(255, 85, 85);
                        }
                        
                        .designing__progress::-webkit-progress-value{
                                background: var(--success);
                        }
                        .designing__progress::-moz-progress-bar{
                                background: var(--success);
                        }
                        .exp__progress::-webkit-progress-value{
                                background: lightblue;
                        }
                        .exp__progress::-moz-progress-bar{
                                background: lightblue;
                        }
                        .dev__progress::-webkit-progress-value{
                                background: rgb(80, 80, 182);
                        }
                        .dev__progress::-moz-progress-bar{
                                background: rgb(80, 80, 182);
                        }
                }
                @media (max-width: 1200px){
                        flex-wrap: wrap;
                        justify-content: space-between;
                        >article{
                                width: 47%;
                        }
                        .why-choose-us{
                                order: 3;
                                margin-top: 5vh;
                        }
                }
                @media (max-width: 568px){
                        >article{
                                width: 100%;
                                margin-bottom: 5vh;
                        }
                        .why-choose-us{
                                margin-top: 0vh;
                        }
                }
        }
        // **** END WHY CHOOSE US ****

        // *** TEAM ***

        .team{
                @include space-between();
                .team__member{
                        width: 24%;
                        img{
                                width: 100%;
                        }
                        h5{
                                margin-top: 10px;
                                font-size: 18px;
                                color: var(--header);
                                margin-bottom: 5px;
                        }
                        h5, p{
                                text-align: center;
                        }
                }
                @media (max-width: 568px){
                        flex-wrap: wrap;
                        >.team__member{
                                width: 47%;
                        }
                }
        }

}

// **** END OF ABOUT PAGE ****

// **** SERVICE PAGE ****

main{

        // *** SERVICES ***
        .services{
                @include space-between();
                flex-wrap: wrap;
                .services__service{
                        width: 32%;
                        margin-top: 5vh;
                        display: flex;
                        align-items: center;
                        .service__icon{
                                        display: inline-block;
                                        width: 75px;
                                        height: 75px;
                                        box-sizing: border-box;
                                        border: 1px solid var(--success);
                                        margin-right: 10px;
                                        @include center();
                                i{
                                        color: var(--success);
                                        font-size: 30px;
                                }
                        }
                        .service__content{
                                display: inline-block;
                                width: 70%;
                                h3{
                                        font-weight: 500;
                                        font-size: 18px;
                                }
                                p{
                                        font-size: 12px;
                                        margin-top: 5px;
                                }
                        }
                        @media (max-width: 1200px){
                                width: 48%;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
        }
        // *** END SERVICES ***
        .recent-properties{
                .service__property{
                        @media (max-width: 992px){
                                justify-content: space-around;
                        }
                }
        }

}

// **** END SERVICE PAGE ****

// **** PROJECTS PAGE ****

main{
        .projects{
                nav{
                        margin: 5vh 0;
                        display: flex;
                        justify-content: center;
                        li{
                                font-size: 14px;
                                margin: 0 1.5vw;
                                text-transform: uppercase;
                                font-weight: 600;
                        }
                        .projects__li--active{
                                color: var(--success)
                        }
                        @media (max-width: 568px){
                                flex-direction: column;
                                align-items: center;
                                li{
                                        line-height: 20px;
                                }
                        }
                }
                .projects__gallery{
                        @include space-between();
                        flex-wrap: wrap;
                        .project__item{
                                width: 32%;
                                img{
                                        width: 100%;
                                }
                                h5{
                                        text-align: center;
                                        margin: 10px 0 5px;
                                        font-size: 13px;
                                        font-weight: 600;
                                        color: var(--header);
                                }
                                p{
                                        text-align: center;
                                        margin-bottom: 4vh;
                                        font-size: 12px;
                                }
                                @media (max-width: 992px){
                                        width: 48%;
                                }
                                @media (max-width: 568px){
                                        width: 100%;
                                }
                        }
                }
        }
}

// **** END PROJECTS PAGE ****


// **** PRICING PAGE ****
main{
        // *** PRICING ***
        .pricing{
                margin-top: 5vh;
                @include space-between();
                .pricing__item{
                        width: 22%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 1px solid rgb(206, 206, 206);
                        h3{
                                height: 150px;
                                font-size: 25px;
                                font-weight: 700;
                                color: var(--header);
                                @include center();
                        }
                        .price{
                                height: 70px;
                                background-color: rgb(236, 236, 236);
                                width: 100%;
                                @include center();
                                border-top: 3px solid var(--success);
                                border-bottom: 1px dotted var(--header); 
                                font-size: 20px;
                                color: var(--success);
                                font-weight: 500;
                        }
                        .includes{
                                width: 100%;
                                .include{
                                        height: 50px;
                                        @include center();
                                        border-bottom: 1px solid rgb(206, 206, 206);
                                        width: 100%;
                                        box-sizing: border-box;
                                        font-size: 14px;
                                        color: var(--brown);
                                }
                                .include--light-gray{
                                        color: rgb(226, 226, 226);
                                }
                        }
                        .pricing-btn__container{
                                height: 100px;
                                @include center();
                        }
                        @media (max-width: 1200px){
                                width: 45%;
                                margin-bottom: 5vh;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                }
                @media (max-width: 1200px){
                        flex-wrap: wrap;
                }
        }
        // *** END PRICING ***
}
// **** END PRICING PAGE

// **** CONTACT PAGE ****
main{
        // *** CONTACT ***
        @mixin mail{
                width: 100%;
                padding-left: 10px;
                margin-bottom: 10px;
                outline: none;
                font-size: 14px;
                border: 1px solid rgb(206, 206, 206);
                color: rgb(206, 206, 206);
                box-sizing: border-box;
                &:focus{
                        border-color: orange;
                }
        }
        .contact{
                h3{
                        font-size: 25px;
                        color: var(--header);
                        margin: 20px 0 15px;
                }
                form{
                        width: 45%;
                        input{
                                height: 40px;
                                @include mail();
                        } 
                        textarea{
                                resize: none;
                                padding-top: 10px;
                                height: 200px;
                                @include mail();
                        }
                        @media (max-width: 992px){
                                width: 70%;
                        }
                        @media (max-width: 568px){
                                width: 100%;
                        }
                        .input--red{
                                border-color: red;
                        }
                        .input--success{
                                border-color: var(--success);
                        }
                }
        }
        // *** END CONTACT ***s
}
// **** END CONTACT PAGE ****


